/** 16.css */
#wrapper {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#insert {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: pink;
}

.box {
    position: absolute;
    font-size: 20px;
    bottom: 0;
}