* {
    margin: 0;
    font-size: small;
    text-decoration: none;
    color: #222;
}

a:hover {
    color: blue;
}

.top {
    height: 40px;
    margin-top: 10px;
}

.news,
.hao123,
.map,
.tieba,
.video,
.photo,
.cloud,
.wenku,
.AIassistence {
    height: 40px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    float: left;
}

.logo {
    text-align: center;
}

.text {
    height: 50px;
    text-align: center;
    width: 666px;
    margin: 0 auto;
}

.Search {
    float: left;
    height: 44px;
    width: 550px;
    font-size: 16px;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.baiduyixia {
    float: left;
    height: 50px;
    width: 108px;
    font-size: 17px;
    border-color: #4e6ef2;
    background-color: #4e6ef2;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.download {
    width: 100%;
    position: absolute;
    bottom: 59px;
    text-align: center;
}

h1 {
    width: 100%;
    position: absolute;
    bottom: 38px;
    text-align: center;
    font-size: medium;
}

h2 {
    width: 100%;
    position: absolute;
    bottom: 17px;
    text-align: center;
    font-size: medium;
    color: #666;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}


.bottom a {
    color: #bbb;
}

.bottom a:hover {
    color: #666;
}

.About,
.About,
.mustread,
.help,
.popularize,
.anbei11000002000001,
.ICP,
.xvke11220180008,
.wangwen20231034-029 {
    display: inline-block;
    margin: 0 10px;
}

.xvke11220180008,
.wangwen20231034-029 {
    color: #bbb;
}