html,
body {
    display: flex;
    align-items: center;
    width: 100%;
}

.box1 {
    border: 1px solid black;
    width: 320px;
    height: 500px;
    margin: 20px;
}

.box2 {
    border: 1px solid black;
    width: 320px;
    height: 300px;
    margin: 20px;
}

.box3 {
    border: 1px solid black;
    width: 320px;
    height: 100px;
    margin: 20px;
    align-self: start;
    flex: 0 1 auto;
}

.box4 {
    border: 1px solid black;
    width: 320px;
    height: 600px;
    margin: 20px;
    flex: 0 2 auto;
}